.app {
  margin: 0;
  display: grid;
  grid-template-columns: 225px 1fr;
  grid-template-rows:
    70px
    1fr;
  grid-template-areas:
    'logo header'
    'menu content';
  height: 100vh;
  background-color: #f5f5f5;
}

aside.logo {
  grid-area: logo;
}

header {
  grid-area: header;
}

aside.menu-area {
  grid-area: menu;
}

article.content {
  background-color: #fff !important;
  grid-area: content;
}

.form-container {
  margin-top: 20px;
  margin-bottom: 30px;
}
